body{
    font-family: 'Open Sans', sans-serif;
}

#portrait{
    border-radius: 10%;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }

#portrait {
    border-radius: 10%;
    transition: transform 0.3s ease-in-out;
}

#portrait:hover {
    transform: scale(1.05);
}

.img-fluid:hover {
    transform: scale(1.05);
}
